<div class="whole">
  <div class="rectangle-2">
    <p id="icon-p"><img id='icon' src="../../assets/images/icon2.png" alt="LandGram Icon"></p>

    <p id="app-name">LandGram</p>
    <p id="app-description">Machine learning meets polaroid</p>
    <div class="images">
      <div class="image-float" id="apple-float">
        <img id='apple-icon' src="css/assets/images/appleLogo.svg" alt="">
        <p id="apple-prompt"><a href="https://itunes.apple.com/us/app/landgram/id1235141626?mt=8">Get the IOS app</a></p>
      </div>
      <div class="image-float" id="android-float">
        <img id='android-icon' src="../../assets/images/androidLogo.svg" alt="">
        <p id="android-prompt">Coming soon...</p>
      </div>
    </div>
  </div>
  <div class="rectangle-3">
    <img id="iPhone" src="../../assets/images/iPhone.png" alt="">
  </div>
</div>
